html {
  background-color: green;
  font-size: 14px;
}

ol {
  background: orange;
  padding: 10px;
  border: 3px solid black;
}

ul {
  background: orange;
  padding: 10px;
  border: 3px solid black;
}

li {
  margin-left: 20px;
}

.editor-note {
  background-color: aquamarine;
  font-size: 16px;
}

.footer {
  background-color: cadetblue;
}

.navigation {
  background-color: cadetblue;
}
